<nav>
	<div class="wrapper">
		<div class="left-nav">
			<a href="/index.html">Home</a>
<!--      <a href="">About me</a> -->
			<a href="/index.html#projects">Projects</a>
			<a href="/index.html#tools-n-skills">Skills & Tools</a>
<!--      <a href="">Inspiration</a> -->
			<!-- <a href="">Let's do this</a> -->
		</div>

		<div class="right-nav">
			<div class="social-links">
				<a href="">
					<img src="assets/LinkedIn.png" alt="Linked In">
				</a>
				<a href="">
					<img src="assets/Twitter.png" alt="Twitter">
				</a>
				<a href="">
					<img src="assets/Blog.png" alt="Blog">
				</a>
			</div>
			<div class="call-to-action">
				<a class="fancybox" href="#contact-form"><button>Contact</button></a>
			</div>
		</div>
	</div>
</nav>